:root {
  --font-family-base: "Source Sans Pro", sans-serif;
  --color-white: #ffffff;
  --color-black: #071629;
  --color-red: #ff6565;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-black);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
}

header {
  height: 100vh;
  background-image: url(images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-weight: var(--font-weight-bold);
}

p {
  line-height: 1.4;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
  padding-left: 10px;
}

.logo {
  width: 161px;
  margin-left: 90px;
}

.desktop-nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 150px;
  list-style: none;
  padding-left: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding-bottom: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  display: block;
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

nav a {
  text-decoration: none;
  color: white;
}

.header-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 370px auto;
  width: 700px;
  font-size: 16px;
  font-weight: 200;
}

.header-content p {
  opacity: 0.8;
}

.cta {
  background-color: #ff6565;
  font-size: large;
  opacity: 0.9;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 80px;
  cursor: pointer;
}

@media (max-width: 750px) {
  header {
    background-position-x: 35%;
  }
  nav {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
  }
  .desktop-nav-list {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon::before {
    content: "☰";
  }

  #menu-toggle:checked + .menu-icon + .menu {
    display: block;
  }

  #menu-toggle:checked + .menu-icon::before {
    content: "✖";
    display: block;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 10px;
  }
}

/* Section What We do */

.what-we-do {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.what-we-do-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 637px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.what-we-do-lists {
  display: flex;
}

.what-we-do-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

[class^="holberton-school-icon_"] {
  font-family: "holberton_school-icon" !important;
}
.what-we-do-list span {
  font-size: 80px;
  color: var(--color-red);
}
.holberton-school-icon_sound:before {
  content: "\e90e";
}
.holberton-school-icon_video:before {
  content: "\e910";
}
.holberton-school-icon_music:before {
  content: "\e90d";
}
.holberton-school-icon_hearing:before {
  content: "\e909";
}
